@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@keyframes localGlow {
  0% {
    color: #15803d;
    text-shadow: 0 0 8px rgba(21, 128, 61, 0.2);
  }
  50% {
    color: inherit;
    text-shadow: none;
  }
  100% {
    color: #15803d;
    text-shadow: 0 0 8px rgba(21, 128, 61, 0.2);
  }
}

@keyframes controlGlow {
  0% {
    color: inherit;
    text-shadow: none;
  }
  50% {
    color: #15803d;
    text-shadow: 0 0 8px rgba(21, 128, 61, 0.2);
  }
  100% {
    color: inherit;
    text-shadow: none;
  }
}

.highlight-local {
  animation: localGlow 4s infinite;
  animation-timing-function: ease-in-out;
}

.highlight-control {
  animation: controlGlow 4s infinite;
  animation-timing-function: ease-in-out;
} 